/* github.com/plasticneko */
/* bulma css framework by jeremy thomas (github.com/jgthms | bulma.io) */

/* basic formatting changes */


.main-content {
  padding-top: 2.5rem;
}

.button:focus {
  border-color: #4a4a4a;
  box-shadow: 0 0 0 #4a4a4a;
}

.menu-label:not(:first-child) {
  margin-top: 0;
}

.header-content small {
  font-size: 1.0em;
}

.header-content {
  padding-bottom: 20px;
}

.header-content img {
  padding-bottom: 20px;
}

.post-wrapper {
  padding-bottom: 50px;
}

.has-padding {
  padding-bottom: 51px;
}

.footer {
  margin-top: 2rem;
}

.content .embedded_image {
  margin-bottom: 33px !important;
}

.embedded_image p {
  text-align: center;
  margin-bottom: 0 !important;
  font-size: 1em;
}

.title a {
  color:black;
}

.content{
  text-align: justify;
}

.footer{
  padding-bottom: 3rem;
  margin-top: 0rem;
}


.last-posts li {
  list-style: none;
  margin-bottom: 1em;
}
.last-posts li:after {
  content: "";
  display: block;
  clear: both;
}
.last-posts .post-img {
  width: 35%;
  float: left;
  margin-right: .5em;
}

.last-posts .post-body h5 {
  font-size: 1em;
}

.featured-posts .post-img > img{
  height: 8em;
}

@media (max-width: 768px) {
  .last-posts .post-body{
    padding-top: 0;
  }
  .last-posts .post-img{
    width: 40%;
  }
  .last-posts .post-body h5{
    font-size: .9em;
  }
  .featured-posts .post-img  > img{
    height: auto;
    width: 100%;
  }
}